/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-weight);
  font-size: var(--font-size);
  background-image: var(--page-bg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: var(--accent-font);
  font-size: var(--header-title-size);
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: var(--page-width);
  padding-block: 130px;
  margin-block: 100px 98px;
  outline: solid 2px #000;
}

.header__title {
  font-size: var(--header-title-size);
  line-height: 100%;
}

.header__subtitle {
  font-size: var(--header-subtitle-size);
  list-style: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px;
  width: var(--page-width);
}

.card {
  background-color: #fff;
  outline: solid 2px #000;
}

.card-title {
  font-size: var(--font-size);
  font-variation-settings: 'wght' var(--title-weight);
  padding: 4px 10px;
}

.card__image-block {
  position: relative;
  margin: 0;
  outline: solid 2px #000;
}

.watermark_label {
  position: absolute;
  top: 28px;
  right: 26px;
  font-family: var(--accent-font);
  font-size: 14px ;
  font-weight: var(--text-weight);
  text-shadow: -1px 0 var(--shadow-color), 1px 0 var(--shadow-color), 0 -1px var(--shadow-color), 0  1px var(--shadow-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))
) {
  .watermark_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__description {
  display: flex;
  flex-direction: column;
  padding: 25px;
} 

.card_padding {
  padding-inline-start: 10px;
}

.card__description-text {
  margin-block-end: 24px;
  margin-inline: 2px;
  letter-spacing: 2%;
  font-variation-settings: 'wght' var(--text-weight);
}

.button_block {
  display: flex;
  justify-content: end;
  gap: 2px;
  align-items: center;
}

.decorated_button {
  position: relative;
  align-items: center;
  background-color: #fff;
  font-family: var(--accent-font);
  border: solid 2px #000;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  color: white;
}

.decoraded_button_text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: 130px;
  block-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  margin-left: 2px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: border 0.3s ease;
  padding-inline: 0;
  outline: 2px solid transparent;
}

.like-icon {
  width: 39px;
  height: 36px;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
}

.filter_brightness {
  filter: brightness(110%);
}

.filter_grayscale {
  filter: grayscale(0.5);
}

.filter_hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter_sepia {
  filter: sepia(0.8);
}

.filter_invert {
  filter: invert(1);
}

.filter_saturate {
  filter: saturate(4.5);
}

.filter_blur {
  filter: blur(0.1rem);
}

.filter_multy {
  filter: sepia(1) hue-rotate(90deg) saturate(4.5) blur(2px);
}

.decorated_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.decorated_button:focus-visible {
  outline: 2px solid #000;
  box-shadow: 2px 2px 0 0 #000;
}

.decorated_button:focus {
  outline: none;
}

.decorated_button:hover::before {
  translate: 0%;
}

.floppy_dialog[open] {
  flex-shrink: 0;
  border: 2px solid black;
  padding: 30px;
  inline-size: 354px;
}

.floppy_dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

body:has(.floppy_dialog[open]) {
  overflow: hidden;
}

.dialog_description {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-bottom: 27px;
  padding-top: 5px;
}

.dialog_button {
  inline-size: 100%;
  min-block-size: 38px;
  background-color: #fff;
  border: 2px solid black;
}

.dialog_label {
  align-self: flex-start;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
  width: fit-content;
  max-inline-size: 234px;
}

.dialog_floppy_svg {
  width: 39px;
  height: 39px;
}

.save_button {
  display: flex;
  flex-direction: row;
  margin-block-end: 100px;
  justify-content: center;
  align-items: center;
  width: 340px;
  min-height: 55px;
  gap: 8px;
}

.sparks {
  opacity: 0;
}

.floppy_svg {
  width: 21px;
  height: 21px;
  filter: invert(1);
}

.button__text,
.floppy_svg {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .main {
    gap: 50px;
  }
  
  .header {
    padding-block: 120px;
    margin-block-end: 107px;
  }

  .header__title {
    line-height: 49px;
  }

  .watermark_label {
    top: 26px;
    right: 26px;
  }

  .save_button {
    flex-direction: column;
    width: 306px;
    height: 84px;
  }
  
  .floppy_svg {
    width: 28px;
    height: 28px;
  }
}
